.task{
    border-radius: 3px;
    background-color: #dfe1e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: auto;
  }
.task-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: #000000;
}
.task-header__captionTask{
flex-grow: 0;
font-weight: bold;
padding: 10px;
}

.task-header__btnClose{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.task-header__btnClose:hover{
    background-color: #C3C8D1;
 }

.task-microtasks{
    overflow: auto;
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
